<nav class="bottom-nav">
  <a routerLink="/" routerLinkActive="active" aria-label="Inicio">
    <mat-icon>home</mat-icon>
    <span>Inicio</span>
  </a>

  <a routerLink="/data" routerLinkActive="active" aria-label="Datos">
    <mat-icon>show_chart</mat-icon>
    <span>Datos</span>
  </a>

  <a routerLink="/parking" routerLinkActive="active" aria-label="Estacionar">
    <mat-icon>assignment</mat-icon>
    <span>Estacionar</span>
  </a>

  <a routerLink="/profile" routerLinkActive="active" aria-label="Perfil">
    <mat-icon>person</mat-icon>
    <span>Perfil</span>
  </a>
</nav>
