<nav class="bottom-nav">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>home</mat-icon>
    <span>{{ "BOTTOM_NAV.HOME" | translate }}</span>
  </a>

  <a routerLink="/data" routerLinkActive="active">
    <mat-icon>show_chart</mat-icon>
    <span>{{ "BOTTOM_NAV.DATA" | translate }}</span>
  </a>

  <a routerLink="/parking" routerLinkActive="active">
    <mat-icon>assignment</mat-icon>
    <span>{{ "BOTTOM_NAV.PARKING" | translate }}</span>
  </a>

  <a routerLink="/profile" routerLinkActive="active">
    <mat-icon>person</mat-icon>
    <span>{{ "BOTTOM_NAV.PROFILE" | translate }}</span>
  </a>
</nav>
